@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.bg-color{
    background-color: grey;
    padding: 60px 0; 
}
.containers{
    width: 90%;
    margin: 0 auto;

}
.title{
    margin-bottom: 10px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;

}
.title::before{
    content: '';
    width: 200px;
    height: 3px;
    background-color: rgb(113, 16, 223);
    opacity: .6;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);


}
.title::after{
    content: '\f005';
    font-family: FontAwesome;
    color: rgb(196, 5, 5);
    width: 50px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 9%;
    left: 50%;
    background: rgba(255, 254, 249, 0.936);
    transform: translateX(-50%);
    font-size: 16px;

}

.title p{
    color:aliceblue;
    font-style: italic;
    font-weight: 700;
    margin: 0 ;
}

.title h1{
    font-size: 44px;
    color: black;
    text-transform:uppercase ;
}

.title h1 span{
    color: darkorange;

}


.card{
    transition: all .2s ease-in-out;
    border-radius: 3px;

}
.card-main{
    position: relative;
}
.discount{
    position: relative;
    background-color: coral;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    display: block;
    text-transform: uppercase;
    height: 30px;
    width: 70px;
    border-radius: 0 15px 15px 0;
    line-height: 30px;
    font-style: italic;
    left: 0px;
    top: 30px;

}   

.discount ::after{
    border-top: 6px solid #c80;
    content: '';
    position: absolute;
    bottom: 0px;
    border-left: 8px solid transparent;
    border-right: 0px solid transparent;

}
.label{
    position: absolute;
    bottom: 43px;
    left: 3px;
    font-size: 12px;
    font-weight: 400 ;
    text-transform: uppercase;
    z-index: 2;
    line-height: 100%;
    color: aliceblue; 
    border-radius: 2px;
    padding: 5px 8px;

}
.label-green{
     background: rgb(73, 107, 21);
}

.image img{
    width: 87%;
    height: 16%;
}

.cart-item{
    text-align: center;
    line-height: 45px;
    background: black;
    transition: all 1s ease-in-out;
    opacity: 0;
    position: relative;
    top: -30px;
}
.cart-item ul{

    padding: 0;
    margin: 0;
}
.cart-item ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;

}
.cart-item ul li ::after{
    content: '';
    width: 1px;
    height: 18px;
    background: rgba(red, green, blue, alpha);
    position: absolute;
    left: -2px;
    top:10px;
}

.cart-item ul li:first-child:after{
    display: none;
}

.cart-item ul li a{
    padding: 0 18px ;
    color: aliceblue;
}

.cart-item ul li a:hover{
    color: red;
}
.card:hover .cart-item {
    opacity: 1;
    top: 0;
}
.product-container{
    position: absolute;
    right: -30px;
    top: 10px;
    z-index: 4;
    transition: 0.6s;
    opacity: 0;

}
.p{
    border: 1px solid rgb(233,233,233);
    border-radius: 2px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.p img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.p img:hover{
    opacity: 1;
}

.card:hover .product-container{
opacity: 1;
right: 10px;

}
.content{
    margin: 0px;
    padding: 16px 0;
    text-align: center;

}
.content a{
    font-size: 16px ;
    color: #555;
    font-weight: 700;
    text-transform: capitalize;
    transition: all .3s;

}

.content a:hover{
    color: #c80;
    text-decoration: none;
}

.ratting i{
    color: #fa0;
    line-height: 22px;
    margin: 0 2px;
    font-size: 12px;
}
.content .p{
    margin-bottom: 0;

}

.content .money{
    font: size 20px;
    color: #fa0;
    font-weight: 700;
    font-style: italic;
    margin-right: 6px;
}
.content .old-price{
    line-height: 18px;
    text-decoration: line-through;
    color: #888;
    font-style: italic;
    font-weight: 400;
}

.policy{
    background-image: url(src\assets\img34.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    padding: 60px 0;
}

.round{
    padding: 23px;
    border-radius: 50%;
    width: 80px;
    height: 80;
    font-size: 34px;
    background-color: rgb(red, green, blue, .2);
    transition: all .3s ease;
    margin: 0 auto;

}
.round-icon{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(14, 235, 51);
}


.policy-card h2{
    transition: all .3s ease;
    font-weight: 800;
    font-size: 17px;
    color: rgb(216, 99, 16);
    text-transform: uppercase;
    margin: 12px 0 5px;
   

}

.policy-card p{
    color: rgb(59, 2, 151);
    font-style: italic;
}

.our-self{
    background-image: url(src\assets\img38.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    padding: 60px 0;
}

.our-self p{
    color: aliceblue;
}

.cart{
    position: absolute;
  right: 0px;
  width: 100px;
  padding: 0;
  background: none;    
    
}


