
<meta charset="utf-8">
<meta name="viewreport" content="width=device-width, initial-scale=1.0">	
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
	


<div class="container-fluid banner">
	<div class="row">
		<div class="col-md-10">
			<nav class="navbar navbar-md">
				<div class="navbar-brand" style = "font-size: larger;font-weight: 700; color: rgb(19, 34, 118);">The Best Barber</div>
				<ul class="nav">
					<li class="nav-item">
						<a style = "font-weight: 700; color: black;"class="nav-link" href=" ">HOME</a>
					</li>
					<li class="nav-item">
						<a style = "font-weight: 700; color: black;" class="nav-link" href="/login">LOGIN</a>
					</li>
					<li class="nav-item">
						<a style = "font-weight: 700; color: black;" class="nav-link" href="/register">REGISTER</a>
					</li>
					<li class="nav-item">
						<a style = "font-weight: 700; color: black;" class="nav-link" href="/AdminLogin">ADMIN LOGIN</a>
					</li>
					<li class="nav-item">
						<a style = "font-weight: 700; color: black;" class="nav-link" href=" ">LOGOUT</a>
					</li>
					
				</ul>
			</nav>
		</div>
			
	</div>
		
		
	</div>


